@use './functions' as fn;

// based on tailwind border radiuses - https://tailwindcss.com/docs/border-radius
$rounded--none: 0px;
$rounded--xs: fn.convert(2px, 'rem');
$rounded--sm: fn.convert(4px, 'rem');
$rounded--md: fn.convert(6px, 'rem');
$rounded--lg: fn.convert(8px, 'rem');
$rounded--xl: fn.convert(12px, 'rem');
$rounded--2xl: fn.convert(16px, 'rem');
$rounded--3xl: fn.convert(24px, 'rem');
$rounded--full: 50%;
