@use './functions' as fn;

// based on tailwind border radiuses - https://tailwindcss.com/docs/border-radius
$rounded--none: 0px;
$rounded--xs: fn.toRem(2px);
$rounded--sm: fn.toRem(4px);
$rounded--md: fn.toRem(6px);
$rounded--lg: fn.toRem(8px);
$rounded--xl: fn.toRem(12px);
$rounded--2xl: fn.toRem(16px);
$rounded--3xl: fn.toRem(24px);
$rounded--full: 50%;
