@use "./functions" ;

// based on tailwind breakpoints - https://tailwindcss.com/docs/screens

$screen--small: functions.convert(640px, 'em');
$screen--medium: functions.convert(768px, 'em');
$screen--large: functions.convert(1024px, 'em');
$screen--xlarge: functions.convert(1280px, 'em');
$screen--xxlarge: functions.convert(1536px, 'em');
