@use './functions' as fn;

// based on tailwind breakpoints - https://tailwindcss.com/docs/screens
$screen--sm: fn.toEm(640px);
$screen--md: fn.toEm(768px);
$screen--lg: fn.toEm(1024px);
$screen--xl: fn.toEm(1280px);
$screen--2xl: fn.toEm(1536px);
