$color-primary--light: #5236ff;
$color-primary--dark: #242331;

$color--secondary--extra-light: #f9f9f9;
$color--secondary--light: #efecff;
$color--secondary--extra-dark: #242331;
$color--secondary--dark: #797979;

$color-white: #fff;
$color-black: #000;

$color-white--regular: rgba($color-white, 0.95);
$color-black--regular: rgba($color-black, 0.95);

$color-border--regular: #d3d3d3;
$color-devider--regular: #e3e3e3;
