$primary-color--light: #5236ff;
$primary-color--dark: #242331;

$secondary-color--extra-light: #f9f9f9;
$secondary-color--light: #efecff;
$secondary-color--dark: #5f5e5e;

$color-white: #fff;
$color-white--soft: #fafaf9;
$color-black: #000;
$color-black--soft: #0c0a09;

$divider-color--regular: #d3d3d3;

$icon-color--enabled: #31c65b;
$icon-color--disabled: #bebebe;

$error-color: #dc2626;
