$color-primary--light: #5236ff;
$color-primary--dark: #242331;

$color--secondary--extra-light: #f9f9f9;
$color--secondary--light: #efecff;
$color--secondary--extra-dark: #242331;
$color--secondary--dark: #5f5e5e;

$color-white--regular: rgba(#fff, 0.95);
$color-black--regular: rgba(#000, 0.95);

$color-border--regular: #d3d3d3;
$color-devider--regular: #e3e3e3;

$color-icon--enabled: #31c65b;
$color-icon--disabled: #bebebe;
