@use './functions' as fn;

// based on tailwind font-sizes - https://tailwindcss.com/docs/font-size

$text--xs: fn.toRem(12px);
$text--sm: fn.toRem(14px);
$text--base: fn.toRem(16px);
$text--lg: fn.toRem(18px);
$text--xl: fn.toRem(20px);
$text--2xl: fn.toRem(24px);
$text--3xl: fn.toRem(30px);
$text--4xl: fn.toRem(36px);
$text--5xl: fn.toRem(48px);
$text--6xl: fn.toRem(60px);
$text--7xl: fn.toRem(72px);
$text--8xl: fn.toRem(96px);
$text--9xl: fn.toRem(128px);
