@use './functions' as fn;
@use './breakpoints' as bp;

// *** BREAKPOINTS ***

$breakpoints: (
  'sm': bp.$screen--sm,
  'md': bp.$screen--md,
  'lg': bp.$screen--lg,
  'xl': bp.$screen--xl,
  '2xl': bp.$screen--2xl,
);

@mixin breakpoint($media, $max: false) {
  @if not map-has-key($breakpoints, $media) {
    @warn "Warning: `#{$media}` is not a valid breakpoint name.";
  }

  @each $name, $size in $breakpoints {
    @if $media == $name {
      @if $max {
        @media only screen and (max-width: $size) {
          @content;
        }
      } @else {
        @media only screen and (min-width: $size) {
          @content;
        }
      }
    }
  }
}

// *** FLUID TYPOGRAPHY ***

// This mixin provides a way to apply fluid typography with dynamic font size and line height.
@mixin fluid-typography(
  $min-font-size,
  $max-font-size,
  $min-line-height: null,
  $max-line-height: null,
) {
  // Calculate the clamped font size
  font-size: fn.clamped($min-size: $min-font-size, $max-size: $max-font-size);

  @if $min-line-height and $max-line-height {
    @if unitless($min-line-height) and unitless($max-line-height) {
      // Calculate the clamped line height
      line-height: fn.clamped(
        $min-size: $min-font-size * $min-line-height,
        $max-size: $max-font-size * $max-line-height
      );
    } @else {
      @error "Line height values must be unitless.";
    }
  }
}

// Fluid typography tool as an alternative to mixins and functions
// Sources:
// - https://fluidtypography.com/
// - https://www.fluid-type-scale.com/
// - https://utopia.fyi/
// Articles:
// https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/
// https://www.smashingmagazine.com/2023/11/addressing-accessibility-concerns-fluid-type/




