@use './functions' as fn;
@use './breakpoints' as bp;

$breakpoints: (
  'sm': bp.$screen--sm,
  'md': bp.$screen--md,
  'lg': bp.$screen--lg,
  'xl': bp.$screen--xl,
  '2xl': bp.$screen--2xl,
);

@mixin breakpoint($media, $max: false) {
  @if not map-has-key($breakpoints, $media) {
    @warn "Warning: `#{$media}` is not a valid breakpoint name.";
  }

  @each $name, $size in $breakpoints {
    @if $media == $name {
      @if $max {
        @media only screen and (max-width: $size) {
          @content;
        }
      } @else {
        @media only screen and (min-width: $size) {
          @content;
        }
      }
    }
  }
}

// Fluid typography tool as an alternative to mixins and functions
// Source: https://fluidtypography.com/

@mixin fluid-typography(
  $min-font-size,
  $max-font-size,
  $min-line-height,
  $max-line-height
) {
  font-size: fn.clamped($min-size: $min-font-size, $max-size: $max-font-size);
  line-height: fn.clamped(
    $min-size: $min-font-size * $min-line-height,
    $max-size: $max-font-size * $max-line-height
  );
}
