@use './functions' as fn;

// based on tailwind default spacing scale -
// https://tailwindcss.com/docs/customizing-spacing#default-spacing-scale

$spacing--xs: fn.convert(4px, 'rem');
$spacing--sm: fn.convert(8px, 'rem');
$spacing--md: fn.convert(12px, 'rem');
$spacing--lg: fn.convert(16px, 'rem');
$spacing--xl: fn.convert(20px, 'rem');
$spacing--2xl: fn.convert(24px, 'rem');
$spacing--3xl: fn.convert(28px, 'rem');
$spacing--4xl: fn.convert(32px, 'rem');
$spacing--5xl: fn.convert(36px, 'rem');
$spacing--6xl: fn.convert(40px, 'rem');
$spacing--7xl: fn.convert(44px, 'rem');
$spacing--8xl: fn.convert(48px, 'rem');
$spacing--9xl: fn.convert(52px, 'rem');
$spacing--10xl: fn.convert(56px, 'rem');
$spacing--11xl: fn.convert(60px, 'rem');
$spacing--12xl: fn.convert(64px, 'rem');

$gap--sm: fn.convert(60px, 'rem');
$gap--md: fn.convert(80px, 'rem');
$gap--lg: fn.convert(100px, 'rem');

$container-width--xs: fn.convert(320px, 'rem');
$container-width--lg: fn.convert(1000px, 'rem');
$container-width--xl: fn.convert(1400px, 'rem');
