html {
  height: 100%;
}

body,
#__nuxt,
.layout {
  min-height: 100vh;
}

#__nuxt {
  padding: clamped($min-size: $spacing--large, $max-size: $spacing--2xlarge);
}

body {
  font-family: $font-family--primary;
  @include fluid-typography(
    $min-font-size: $font-size--small,
    $max-font-size: $font-size--large,
    $min-line-height: $line-height--medium,
    $max-line-height: $line-height--large,
  );
  letter-spacing: 0.01em;
  color: $color--secondary--dark;
  overflow-x: hidden;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
.button {
  // Help prevent overflow of long words/names/URLs
  overflow-wrap: break-word;
  // Adds a hyphen where the word breaks, if supported (No Blink)
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $spacing--large 0;
  font-weight: $font-weight--extrabold;
  text-wrap: balance;
  color: $color--secondary--extra-dark;
}

h1 {
  @include fluid-typography(
    $min-font-size: $font-size--4xlarge,
    $max-font-size: $font-size--9xlarge,
    $min-line-height: $line-height--4xsmall,
    $max-line-height: $line-height--3xsmall,
  )
}

h2 {
  @include fluid-typography(
    $min-font-size: $font-size--2xlarge,
    $max-font-size: $font-size--6xlarge,
    $min-line-height: $line-height--3xsmall,
    $max-line-height: $line-height--medium,
  )
}

h3 {
  @include fluid-typography(
    $min-font-size: $font-size--2xlarge,
    $max-font-size: $font-size--3xlarge,
    $min-line-height: $line-height--3xsmall,
    $max-line-height: $line-height--medium,
  )
}

h4 {
  @include fluid-typography(
    $min-font-size: $font-size--xlarge,
    $max-font-size: $font-size--2xlarge,
    $min-line-height: $line-height--2xsmall,
    $max-line-height: $line-height--xsmall,
  )
}

p {
  margin: $spacing--large 0;

  &:empty {
    margin: 0;
  }
}


img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $color--secondary--extra-dark;

  @media (hover: hover) {
    &:hover {
      color: $color-primary--light;
    }
  }
}

li {
  line-height: $line-height--small;
}

.router-link-active:not(.button),
.router-link-exact-active:not(.button) {
  color: $color-primary--light !important;
}

@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset 75ms ease-out;
  }

  :not(:active):focus-visible {
    transition: outline-offset 0.25s ease-out;
  }
}

:not(:active):focus-visible {
  outline-offset: .15rem;
  outline-color: rgba($color-primary--light, .5);
}

// Utilities

.border-debug {
  border: 1px dotted red;
}

.body-background {
  @include breakpoint('large') {
    background-image: url('/images/body-background.png'), url('/images/body-background-decor.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top right, top right;
    background-size: 80%, cover;
  }

  @include breakpoint('xlarge') {
    background-size: 70%, cover;
  }
}
