html,
body,
#__nuxt {
  min-height: 100vh
}

body {
  font-family: $font-family--primary;
  font-size: clamped($font-size--small, $font-size--large);
  // line-height: $line-height--md;
  color: $color--secondary--dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // line-height: $line-height--xs;
  color: $color--secondary--extra-dark;
}

h1 {
  font-size: clamped($font-size--3xlarge, $font-size--8xlarge);
}

h2 {
  font-size: clamped($font-size--xlarge, $font-size--5xlarge);
}

h3 {
  font-size: clamped($font-size--xlarge, $font-size--2xlarge);
}


img {
  display: inline-block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

.router-link-exact-active {
  color: $color-primary--light;
}

// Utilities

.border-debug {
  border: 1px dotted red;
}
